Repository major0/crusty: changes, and which pre-commit hooks are due for each by the changed paths.
All: crustyc-syntax, cargo-fmt, cargo-clippy

crustyc-syntax:
  name: Crusty Syntax Check
  entry: cargo run --bin crustyc -- --check
  language: system
  pass_filenames: true

cargo-fmt:
  name: Cargo Format Check
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: Cargo Clippy
  entry: cargo clippy --
  language: system
  pass_filenames: false
  args:
  - -D
  - warnings

docs(req-29): add postfix operator removal summary
  .kiro/specs/crusty-compiler-phase1/POSTFIX_REMOVAL.md
Due: none

docs: complete Phase 2 and Phase 3 specifications and reorganize Phase 1
  .kiro/specs/PHASE_REORGANIZATION.md
  .kiro/specs/SPEC_COMPLETION_SUMMARY.md
  .kiro/specs/crusty-compiler-phase1/TASK_17.3_IMPLEMENTATION_GUIDE.md
  .kiro/specs/crusty-compiler-phase1/tasks.md
  .kiro/specs/crusty-compiler-phase2/design.md
  .kiro/specs/crusty-compiler-phase2/tasks.md
  .kiro/specs/crusty-compiler-phase3/design.md
  .kiro/specs/crusty-compiler-phase3/requirements.md
  .kiro/specs/crusty-compiler-phase3/tasks.md
Due: none

feat(task-17.3): implement nested function type checking
  src/nested_function_tests.rs
  src/semantic.rs
Due: cargo-fmt, cargo-clippy

docs(task-17.3): mark task as complete
  .kiro/specs/crusty-compiler-phase1/tasks.md
Due: none

feat(task-17.4): implement nested function code generation
  src/codegen.rs
  src/nested_function_tests.rs
  src/semantic.rs
Due: cargo-fmt, cargo-clippy

docs(task-17.4): mark task as complete
  .kiro/specs/crusty-compiler-phase1/tasks.md
Due: none

docs: add comprehensive test coverage and validation report
  VALIDATION_REPORT.md
Due: none

docs(req-29): remove postfix increment/decrement operators
  README.md
  SYNTAX_REFERENCE.md
  docs/syntax/expressions.md
  src/c_style_declaration_tests.rs
  src/lib.rs
  src/parser.rs
Due: cargo-fmt, cargo-clippy

docs: add Phase 2 tooling and Phase 3 bidirectional transpilation docs
  docs/architecture/README.md
  docs/architecture/tooling.md
  docs/design/README.md
  docs/design/bidirectional-transpilation.md
Due: none

feat(#228): implement nested function type checking
  src/nested_function_tests.rs
  src/semantic.rs
Due: cargo-fmt, cargo-clippy

feat(#229): implement nested function code generation
  src/codegen.rs
  src/nested_function_tests.rs
  src/semantic.rs
Due: cargo-fmt, cargo-clippy

test: add 28 semantic analyzer coverage tests
  VALIDATION_REPORT.md
  src/lib.rs
  src/semantic_coverage_tests.rs
Due: cargo-fmt, cargo-clippy

test: add 28 semantic analyzer coverage tests
  src/lib.rs
  src/semantic_coverage_tests.rs
Due: cargo-fmt, cargo-clippy

test: improve test coverage to 90%+ across all modules
  TEST_COVERAGE_PROGRESS.md
  VALIDATION_REPORT.md
  src/codegen_advanced_tests.rs
  src/codegen_bitwise_tests.rs
  src/codegen_crusty_advanced_tests.rs
  src/codegen_crusty_tests.rs
  src/error_coverage_tests.rs
  src/lexer_coverage_tests.rs
  src/lib.rs
  src/parser_additional_coverage_tests.rs
  src/parser_coverage_tests.rs
  src/parser_edge_case_tests.rs
  src/parser_error_tests.rs
  src/semantic.rs
  src/semantic_additional_tests.rs
  src/semantic_advanced_tests.rs
  src/semantic_expression_coverage_tests.rs
  src/semantic_expression_tests.rs
  src/semantic_return_tests.rs
  src/semantic_statement_tests.rs
  src/semantic_type_tests.rs
Due: cargo-fmt, cargo-clippy

test: improve test coverage to 90%+ across all modules
  src/codegen_advanced_tests.rs
  src/codegen_bitwise_tests.rs
  src/codegen_crusty_advanced_tests.rs
  src/codegen_crusty_tests.rs
  src/error_coverage_tests.rs
  src/lexer_coverage_tests.rs
  src/lib.rs
  src/parser_additional_coverage_tests.rs
  src/parser_coverage_tests.rs
  src/parser_edge_case_tests.rs
  src/parser_error_tests.rs
  src/semantic.rs
  src/semantic_additional_tests.rs
  src/semantic_advanced_tests.rs
  src/semantic_expression_coverage_tests.rs
  src/semantic_expression_tests.rs
  src/semantic_return_tests.rs
  src/semantic_statement_tests.rs
  src/semantic_type_tests.rs
Due: cargo-fmt, cargo-clippy

feat(workflow): implement task orchestration workflow with agent-based automation
  .kiro/hooks/after-implementation.kiro.hook
  .kiro/hooks/after-pr-submission.kiro.hook
  .kiro/hooks/after-quality-agents.kiro.hook
  .kiro/hooks/on-task-start.kiro.hook
  .kiro/hooks/spec-consistency-review.kiro.hook
  .kiro/specs/task-orchestration-workflow/README.md
  .kiro/specs/task-orchestration-workflow/design.md
  .kiro/specs/task-orchestration-workflow/requirements.md
  .kiro/specs/task-orchestration-workflow/tasks.md
  .kiro/steering/build-verification-agent.md
  .kiro/steering/ci-monitoring-agent.md
  .kiro/steering/coverage-testing-agent.md
  .kiro/steering/documentation-agent.md
  .kiro/steering/formatting-agent.md
  .kiro/steering/linting-agent.md
  .kiro/steering/pr-submission-agent.md
  .kiro/steering/pre-commit-agent.md
  .kiro/steering/property-testing-agent.md
  .kiro/steering/security-agent.md
  .kiro/steering/task-initiation-agent.md
  .kiro/steering/type-checking-agent.md
  .kiro/steering/unit-testing-agent.md
Due: none

feat(#230): 17.5 Add validation rules for nested functions
  SYNTAX_REFERENCE.md
  src/codegen_bitwise_tests.rs
  src/nested_function_tests.rs
  src/semantic.rs
  src/semantic_additional_tests.rs
  src/semantic_advanced_tests.rs
  src/semantic_coverage_tests.rs
Due: cargo-fmt, cargo-clippy

feat(task-17.5): 17.5 Add validation rules for nested functions
  .kiro/specs/crusty-compiler-phase1/design.md
  .kiro/specs/crusty-compiler-phase1/tasks.md
  .kiro/specs/task-orchestration-workflow/tasks.md
  SYNTAX_REFERENCE.md
  src/codegen_bitwise_tests.rs
  src/nested_function_tests.rs
  src/semantic.rs
  src/semantic_additional_tests.rs
  src/semantic_advanced_tests.rs
  src/semantic_coverage_tests.rs
Due: cargo-fmt, cargo-clippy

chore(specs): fix checkbox formatting in crusty-compiler-phase1 tasks.md
  .kiro/specs/crusty-compiler-phase1/tasks.md
Due: none

feat(ci): implement modular CI/CD workflows with POSIX shell scripts
  .github/scripts/.shellcheckrc
  .github/scripts/README.md
  .github/scripts/check-coverage.sh
  .github/scripts/check-crusty-syntax.sh
  .github/scripts/create-rc-tag.sh
  .github/scripts/generate-changelog.sh
  .github/scripts/update-version-alias.sh
  .github/scripts/validate-issue-reference.sh
  .github/scripts/verify-release-tag.sh
  .github/workflows/build.yml
  .github/workflows/changelog.yml
  .github/workflows/ci.yml.disabled
  .github/workflows/coverage.yml
  .github/workflows/format.yml
  .github/workflows/lint.yml
  .github/workflows/pre-commit.yml
  .github/workflows/property-tests.yml
  .github/workflows/pull-request-default.yml
  .github/workflows/release-candidate.yml
  .github/workflows/release-publish.yml
  .github/workflows/release-tag.yml
  .github/workflows/security-audit.yml
  .github/workflows/unit-tests.yml
  .github/workflows/version-alias-tags.yml
  .gitignore
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  docs/architecture/README.md
  docs/architecture/ci-cd.md
Due: none

feat(ci): implement modular CI/CD workflows with POSIX shell scripts
  .github/scripts/.shellcheckrc
  .github/scripts/README.md
  .github/scripts/check-coverage.sh
  .github/scripts/check-crusty-syntax.sh
  .github/scripts/create-rc-tag.sh
  .github/scripts/generate-changelog.sh
  .github/scripts/update-version-alias.sh
  .github/scripts/validate-issue-reference.sh
  .github/scripts/verify-release-tag.sh
  .github/workflows/build.yml
  .github/workflows/changelog.yml
  .github/workflows/ci.yml.disabled
  .github/workflows/coverage.yml
  .github/workflows/format.yml
  .github/workflows/lint.yml
  .github/workflows/pre-commit.yml
  .github/workflows/property-tests.yml
  .github/workflows/pull-request-default.yml
  .github/workflows/release-candidate.yml
  .github/workflows/release-publish.yml
  .github/workflows/release-tag.yml
  .github/workflows/security-audit.yml
  .github/workflows/unit-tests.yml
  .github/workflows/version-alias-tags.yml
  .gitignore
  .kiro/specs/ci-cd-testing-enhancement/ISSUE_VALIDATION_FEATURE.md
  .kiro/specs/ci-cd-testing-enhancement/SPEC_IMPROVEMENTS.md
  .kiro/specs/ci-cd-testing-enhancement/TAG_VERIFICATION_FEATURE.md
  .kiro/specs/ci-cd-testing-enhancement/design.md
  .kiro/specs/ci-cd-testing-enhancement/requirements.md
  .kiro/specs/ci-cd-testing-enhancement/tasks.md
  .kiro/steering/shell-scripts.md
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
Due: none

test(task-17.6): add property test for nested function translation
  .kiro/specs/crusty-compiler-phase1/tasks.md
  src/codegen_properties.rs
Due: cargo-fmt, cargo-clippy

test(#231): add property test for nested function translation
  src/codegen_properties.rs
Due: cargo-fmt, cargo-clippy

chore(#232): checkpoint - ensure advanced features work correctly
  example/src/typedef_demo.crst
Due: crustyc-syntax

chore(task-18): checkpoint - ensure advanced features work correctly
  .kiro/specs/crusty-compiler-phase1/tasks.md
  example/src/typedef_demo.crst
Due: crustyc-syntax

docs(architecture): document parser rewrite architecture
  docs/architecture/parser.md
Due: none

docs(design): add parser rewrite comparison and decision
  docs/design/README.md
  docs/design/parser-rewrite.md
Due: none

Path conditions:
  crustyc-syntax: any of: \.crst$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
