Repository major0/crusty: changes, and which pre-commit hooks are due for each by the changed paths.
All: crustyc-syntax, cargo-fmt, cargo-clippy, shellcheck

crustyc-syntax:
  name: Crusty Syntax Check
  entry: .github/scripts/check-crusty-syntax.sh
  language: system
  pass_filenames: true

cargo-fmt:
  name: Cargo Format Check
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: Cargo Clippy
  entry: cargo clippy --
  language: system
  pass_filenames: false
  args:
  - -D
  - warnings

shellcheck:
  name: ShellCheck
  entry: shellcheck
  language: system
  args:
  - --color=always

feat(parser): #256 Define enum item rule with actions
  src/parser.rs
Due: cargo-fmt, cargo-clippy

feat(parser): 6.4 Define enum item rule with actions
  .kiro/specs/parser-pest-rewrite/tasks.md
  src/parser.rs
Due: cargo-fmt, cargo-clippy

feat(parser): #257 Define typedef item rule with actions
  src/parser.rs
Due: cargo-fmt, cargo-clippy

feat(parser): 6.5 Define typedef item rule with actions
  .kiro/specs/parser-pest-rewrite/tasks.md
  src/parser.rs
Due: cargo-fmt, cargo-clippy

feat(parser): #258 Define macro definition rule with actions
  src/parser.rs
Due: cargo-fmt, cargo-clippy

feat(parser): 6.6 Define macro definition rule with actions
  .kiro/specs/parser-pest-rewrite/tasks.md
  src/parser.rs
Due: cargo-fmt, cargo-clippy

feat(parser): 6.7-6.8 Add item() and file() rules with tests
  .kiro/specs/parser-pest-rewrite/tasks.md
  src/parser.rs
Due: cargo-fmt, cargo-clippy

feat(parser): #259-#260 Add item() and file() rules with tests
  src/parser.rs
Due: cargo-fmt, cargo-clippy

feat(#45): implement error handling infrastructure
  src/error.rs
Due: cargo-fmt, cargo-clippy

feat(#62): implement symbol table and type environment
  src/semantic.rs
Due: cargo-fmt, cargo-clippy

feat(#83): implement pretty printer and formatting
  proptest-regressions/codegen_properties.txt
  proptest-regressions/pretty_properties.txt
  src/codegen.rs
  src/lib.rs
  src/pretty.rs
  src/pretty_properties.rs
Due: cargo-fmt, cargo-clippy

feat(#74): implement Rust code generator
  src/codegen.rs
  src/codegen_properties.rs
  src/lib.rs
Due: cargo-fmt, cargo-clippy

feat(#89): implement CLI and file I/O
  src/cli.rs
  src/cli_properties.rs
  src/lib.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy

feat(#66): implement semantic analyzer
  src/semantic.rs
Due: cargo-fmt, cargo-clippy

test(#88): fix property test identifier generation to exclude Rust keywords
  proptest-regressions/pretty_properties.txt
  src/codegen_properties.rs
  src/pretty_properties.rs
Due: cargo-fmt, cargo-clippy

feat(#95): implement rustc invocation
  src/cli.rs
  src/lib.rs
  src/main.rs
  src/rustc.rs
  src/rustc_integration_tests.rs
Due: cargo-fmt, cargo-clippy

feat(#114): create example directory structure
  .github/workflows/ci.yml
  example/Cargo.toml
  example/README.md
  example/build.rs
  example/src/functions.crst
  example/src/main.crst
  example/src/structs.crst
Due: crustyc-syntax, cargo-fmt, cargo-clippy

feat(#114): add advanced feature examples
  example/README.md
  example/src/rust_escape.crst
Due: crustyc-syntax

docs(readme): remove reference to deleted review files
  .github/workflows/discord-issue-notify.yml
  .github/workflows/discord-pr-notify.yml
  README.md
Due: none

fix(ci): add missing discord notification helper scripts
  .github/scripts/issue-notify-vars.sh
  .github/scripts/pr-notify-vars.sh
Due: shellcheck

fix(ci): use hex color strings for discord notification actions
  .github/scripts/issue-notify-vars.sh
  .github/scripts/pr-notify-vars.sh
Due: shellcheck

Path conditions:
  crustyc-syntax: any of: \.crst$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  shellcheck: any of: \.sh$
