Repository major0/crusty: changes, and which pre-commit hooks are due for each by the changed paths.
All: crustyc-syntax, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: crustyc-syntax
        name: Crusty Syntax Check
        entry: cargo run --bin crustyc -- --check
        language: system
        files: \.crst$
        pass_filenames: true
      
      - id: cargo-fmt
        name: Cargo Format Check
        entry: cargo fmt -- --check
        language: system
        files: \.rs$
        pass_filenames: false
      
      - id: cargo-clippy
        name: Cargo Clippy
        entry: cargo clippy --
        language: system
        files: \.rs$
        pass_filenames: false
        args: ["-D", "warnings"]

refactor(syntax): change mutable reference syntax from &var to var &
  .kiro/specs/crusty-compiler-phase1/PROPERTY_TEST_CATALOG.md
  .kiro/specs/crusty-compiler-phase1/design.md
  .kiro/specs/crusty-compiler-phase1/requirements.md
  .kiro/specs/crusty-compiler-phase1/tasks.md
  SYNTAX_REFERENCE.md
Due: none

feat(parser): implement var & syntax for mutable references
  src/codegen.rs
  src/lexer.rs
  src/parser.rs
Due: cargo-fmt, cargo-clippy

docs: fix Type Aliases examples to use C-like casting syntax
  SYNTAX_REFERENCE.md
Due: none

test: add comprehensive typedef integration tests
  .kiro/specs/typedef-type-alias-support/TEST_SUMMARY.md
  src/lib.rs
  src/typedef_integration_tests.rs
Due: cargo-fmt, cargo-clippy

docs: add comprehensive typedef test validation report
  .kiro/specs/typedef-type-alias-support/TEST_VALIDATION_REPORT.md
Due: none

fix: add support for static typedef (private visibility)
  src/parser.rs
  src/typedef_integration_tests.rs
Due: cargo-fmt, cargo-clippy

docs: add static typedef fix report
  .kiro/specs/typedef-type-alias-support/STATIC_TYPEDEF_FIX.md
Due: none

feat: implement C-style type casting for typedef
  src/parser.rs
  src/semantic.rs
  src/typedef_integration_tests.rs
Due: cargo-fmt, cargo-clippy

docs: add C-style type casting implementation documentation
  .kiro/specs/typedef-type-alias-support/CAST_IMPLEMENTATION.md
Due: none

feat: remove Rust-style type annotations from let/var statements
  .kiro/specs/remove-rust-style-annotations/requirements.md
  src/parser.rs
Due: cargo-fmt, cargo-clippy

Remove Rust-style type annotations from Crusty
  example/src/main.crst
  example/src/typedef_demo.crst
  src/codegen.rs
  src/nested_function_tests.rs
  src/parser.rs
  src/pretty_properties.rs
  src/typedef_integration_tests.rs
Due: crustyc-syntax, cargo-fmt, cargo-clippy

docs(syntax): add typedef type alias support documentation
  docs/syntax/typedef.md
Due: none

feat: implement typedef type alias resolution
  src/semantic.rs
Due: cargo-fmt, cargo-clippy

docs: add comprehensive typedef demonstration example
  example/src/typedef_demo.crst
Due: crustyc-syntax

docs: complete systematic review and address gaps
  SYNTAX_REFERENCE.md
  src/semantic.rs
Due: cargo-fmt, cargo-clippy

refactor(syntax): change mutable reference syntax from &var to var &
  SYNTAX_REFERENCE.md
  docs/syntax/types.md
Due: none

test: add comprehensive typedef integration tests
  src/lib.rs
  src/typedef_integration_tests.rs
Due: cargo-fmt, cargo-clippy

docs: add C-style type casting documentation for typedef
  docs/syntax/typedef.md
Due: none

feat: remove Rust-style type annotations from let/var statements
  docs/design/README.md
  docs/design/c-style-declarations.md
  src/parser.rs
Due: cargo-fmt, cargo-clippy

Add validation and completion documentation
  .kiro/specs/remove-rust-style-annotations/COMPLETION_SUMMARY.md
  .kiro/specs/remove-rust-style-annotations/VALIDATION_REPORT.md
  .kiro/specs/remove-rust-style-annotations/requirements.md
Due: none

Remove type annotations from const statements
  docs/design/c-style-declarations.md
  src/codegen.rs
  src/parser.rs
Due: cargo-fmt, cargo-clippy

Remove type annotations from const statements
  .kiro/specs/remove-rust-style-annotations/COMPLETION_SUMMARY.md
  .kiro/specs/remove-rust-style-annotations/requirements.md
  src/codegen.rs
  src/parser.rs
Due: cargo-fmt, cargo-clippy

docs: document C-style variable declaration design
  docs/design/c-style-declarations.md
  docs/syntax/variables.md
Due: none

Document C-style variable declaration design
  .kiro/specs/remove-rust-style-annotations/design.md
  .kiro/specs/remove-rust-style-annotations/requirements.md
Due: none

docs(syntax): fix SYNTAX_REFERENCE.md type alias examples
  .kiro/specs/remove-rust-style-annotations/CONSISTENCY_CHECK_SUMMARY.md
  .kiro/specs/remove-rust-style-annotations/SYNTAX_REFERENCE_FIX.md
  .kiro/specs/remove-rust-style-annotations/VALIDATION_REPORT.md
  .kiro/specs/remove-rust-style-annotations/tasks.md
  SYNTAX_REFERENCE.md
Due: none

docs(syntax): fix SYNTAX_REFERENCE.md type alias examples
  SYNTAX_REFERENCE.md
Due: none

docs(requirements): update Requirement 44 with comprehensive extern block specification
  .kiro/specs/REQUIREMENTS_VALIDATION_REPORT.md
  .kiro/specs/crusty-compiler-phase1/requirements.md
  .kiro/specs/crusty-compiler-phase1/tasks.md
Due: none

docs: add extern block FFI documentation
  docs/syntax/README.md
  docs/syntax/extern-blocks.md
Due: none

docs(requirements): add __rust__{ } block support within extern blocks
  .kiro/specs/crusty-compiler-phase1/requirements.md
  .kiro/specs/crusty-compiler-phase1/tasks.md
Due: none

docs: add __rust__{ } block support within extern blocks
  docs/syntax/extern-blocks.md
Due: none

docs: add nesting validation rules for extern and __rust__ blocks
  docs/syntax/extern-blocks.md
Due: none

docs(requirements): add nesting validation rules for extern and __rust__ blocks
  .kiro/specs/crusty-compiler-phase1/requirements.md
  .kiro/specs/crusty-compiler-phase1/tasks.md
Due: none

docs(requirements): remove auto keyword from Crusty syntax
  .kiro/specs/REQUIREMENTS_VALIDATION_REPORT.md
  .kiro/specs/crusty-compiler-phase1/requirements.md
Due: none

docs(tasks): systematic review and fix critical issues
  .kiro/specs/crusty-compiler-phase1/TASKS_REVIEW.md
  .kiro/specs/crusty-compiler-phase1/tasks.md
Due: none

docs(req-29): remove postfix increment/decrement operators
  .kiro/specs/crusty-compiler-phase1/PROPERTY_TEST_CATALOG.md
  .kiro/specs/crusty-compiler-phase1/SYNTAX_PHILOSOPHY.md
  .kiro/specs/crusty-compiler-phase1/TASKS_REVIEW.md
  .kiro/specs/crusty-compiler-phase1/design.md
  .kiro/specs/crusty-compiler-phase1/requirements.md
  .kiro/specs/crusty-compiler-phase1/tasks.md
  .kiro/specs/crusty-compiler-phase2/design.md
  .kiro/specs/crusty-compiler-phase2/requirements.md
  .kiro/specs/remove-rust-style-annotations/EXECUTION_SUMMARY.md
  .kiro/specs/remove-rust-style-annotations/PHASE2_COMPLETION.md
  .kiro/specs/remove-rust-style-annotations/tasks.md
  README.md
  SYNTAX_REFERENCE.md
  src/c_style_declaration_tests.rs
  src/lib.rs
  src/parser.rs
Due: cargo-fmt, cargo-clippy
