Repository major0/crusty: changes, and which pre-commit hooks are due for each by the changed paths.
All: crustyc-syntax, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: crustyc-syntax
        name: Crusty Syntax Check
        entry: cargo run --bin crustyc -- --check
        language: system
        files: \.crst$
        pass_filenames: true
      
      - id: cargo-fmt
        name: Cargo Format Check
        entry: cargo fmt -- --check
        language: system
        files: \.rs$
        pass_filenames: false
      
      - id: cargo-clippy
        name: Cargo Clippy
        entry: cargo clippy --
        language: system
        files: \.rs$
        pass_filenames: false
        args: ["-D", "warnings"]

test(#217): add comprehensive tests for explicit generic parameter code generation
  src/codegen.rs
Due: cargo-fmt, cargo-clippy

docs(examples): simplify examples to reflect current implementation
  example/src/closures.crst
  example/src/generics.crst
  example/src/macros.crst
  example/src/ranges.crst
  example/src/rust_escape.crst
  example/src/slices.crst
Due: crustyc-syntax

test(#218): add property test for #define translation
  src/codegen_properties.rs
Due: cargo-fmt, cargo-clippy

docs(examples): update examples to reflect current implementation
  example/README.md
  example/src/closures.crst
  example/src/defines.crst
  example/src/ranges.crst
  example/src/rust_escape.crst
  example/src/slices.crst
Due: crustyc-syntax

style: fix formatting in codegen_properties.rs
  src/codegen_properties.rs
Due: cargo-fmt, cargo-clippy

test(#219): add comprehensive unit tests for #define macros
  src/codegen.rs
  src/parser.rs
Due: cargo-fmt, cargo-clippy

feat(#220): implement typedef code generation
  src/codegen.rs
Due: cargo-fmt, cargo-clippy

style: fix formatting issues in codegen.rs and parser.rs
  src/codegen.rs
  src/parser.rs
Due: cargo-fmt, cargo-clippy

test(#221): add property test for typedef translation
  src/codegen_properties.rs
Due: cargo-fmt, cargo-clippy

feat(#222): add NULL and Option code generation
  proptest-regressions/codegen_properties.txt
  src/ast.rs
  src/codegen.rs
  src/parser.rs
  src/semantic.rs
Due: cargo-fmt, cargo-clippy

feat(#223): add struct initializer code generation
  src/codegen.rs
  src/parser.rs
  src/semantic.rs
Due: cargo-fmt, cargo-clippy

fix: apply cargo fmt and clippy suggestions
  src/codegen.rs
  src/parser.rs
Due: cargo-fmt, cargo-clippy

fix(#213): prevent Rust keywords in macro names
  src/codegen.rs
Due: cargo-fmt, cargo-clippy

fix: resolve all clippy warnings for CI/CD
  src/ast.rs
  src/codegen.rs
  src/codegen_properties.rs
  src/parser.rs
  src/parser_properties.rs
  src/rustc.rs
  src/rustc_integration_tests.rs
  src/semantic.rs
Due: cargo-fmt, cargo-clippy

feat(#224): add switch statement code generation tests
  src/codegen.rs
Due: cargo-fmt, cargo-clippy

feat(task-16.7): add error handling syntax transformation tests
  .kiro/specs/crusty-compiler-phase1/tasks.md
  src/codegen.rs
Due: cargo-fmt, cargo-clippy

feat(#225): add error handling syntax transformation tests
  src/codegen.rs
Due: cargo-fmt, cargo-clippy

docs: clarify Crusty's syntax-only transpilation philosophy
  .kiro/specs/crusty-compiler-phase1/SYNTAX_PHILOSOPHY.md
  .kiro/specs/crusty-compiler-phase1/tasks.md
Due: none

docs(design): document syntax-only transpilation philosophy
  docs/design/philosophy.md
Due: none

docs: comprehensive documentation review and critical improvements
  .kiro/specs/crusty-compiler-phase1/DOCUMENTATION_REVIEW.md
  README.md
Due: none

docs: comprehensive documentation review and critical improvements
  README.md
Due: none

docs(specs): add cross-references to SYNTAX_PHILOSOPHY.md
  .kiro/specs/crusty-compiler-phase1/SYNTAX_PHILOSOPHY.md
  .kiro/specs/crusty-compiler-phase1/design.md
  .kiro/specs/crusty-compiler-phase1/requirements.md
  .kiro/specs/crusty-compiler-phase1/tasks.md
  CONTRIBUTING.md
Due: none

docs(specs): add cross-references to SYNTAX_PHILOSOPHY.md
  CONTRIBUTING.md
  docs/design/philosophy.md
Due: none

docs(readme): enhance Documentation section with organized navigation
  README.md
Due: none

docs(syntax): add error handling syntax documentation
  docs/syntax/README.md
  docs/syntax/error-handling.md
Due: none

feat(syntax): change error handling from Type! to Type? and expr! to expr?
  .kiro/specs/crusty-compiler-phase1/SYNTAX_CHANGE_TYPE_QUESTION_MARK.md
Due: none

docs(review): update documentation review with completed recommendations
  .kiro/specs/crusty-compiler-phase1/DOCUMENTATION_REVIEW.md
Due: none

test(task-16.8): add property tests for advanced code generation
  .kiro/specs/crusty-compiler-phase1/tasks.md
  src/codegen_properties.rs
Due: cargo-fmt, cargo-clippy

test(#221): add property tests for advanced code generation
  src/codegen_properties.rs
Due: cargo-fmt, cargo-clippy

test(task-16.9): verify unit tests for advanced code generation
  .kiro/specs/crusty-compiler-phase1/tasks.md
Due: none

chore(task-16): complete advanced code generation features
  .kiro/specs/crusty-compiler-phase1/tasks.md
Due: none

Fix CI/CD: add delimiter field to MacroDefinition and fix formatting
  .kiro/specs/crusty-compiler-phase1/MACRO_DELIMITER_DESIGN.md
  .kiro/specs/crusty-compiler-phase1/design.md
  .kiro/specs/crusty-compiler-phase1/requirements.md
  .kiro/specs/crusty-compiler-phase1/tasks.md
  src/ast.rs
  src/codegen.rs
  src/codegen_properties.rs
  src/parser.rs
  src/semantic.rs
Due: cargo-fmt, cargo-clippy

Fix CI/CD: add delimiter field to MacroDefinition and fix formatting
  docs/syntax/README.md
  docs/syntax/macros.md
  src/ast.rs
  src/codegen.rs
  src/codegen_properties.rs
  src/parser.rs
  src/semantic.rs
Due: cargo-fmt, cargo-clippy

feat(task-15.2): implement macro invocation parsing with delimiter checking
  .kiro/specs/crusty-compiler-phase1/tasks.md
  src/parser.rs
Due: cargo-fmt, cargo-clippy

feat(#213): implement macro invocation parsing with delimiter checking
  src/parser.rs
Due: cargo-fmt, cargo-clippy

test(#213): add comprehensive macro syntax validation tests
  src/parser.rs
Due: cargo-fmt, cargo-clippy

test(task-15.2): add comprehensive macro syntax validation tests
  src/parser.rs
Due: cargo-fmt, cargo-clippy

docs: clarify Crusty as C-like syntax layer, not semantic transformation
  README.md
  docs/design/philosophy.md
Due: none

docs: clarify Crusty as C-like syntax layer, not semantic transformation
  .kiro/specs/crusty-compiler-phase1/SYNTAX_PHILOSOPHY.md
  .kiro/specs/crusty-compiler-phase1/design.md
  .kiro/specs/crusty-compiler-phase1/requirements.md
  README.md
Due: none
