Repository major0/crusty: changes, and which pre-commit hooks are due for each by the changed paths.
All: crustyc-syntax, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: crustyc-syntax
        name: Crusty Syntax Check
        entry: cargo run --bin crustyc -- --check
        language: system
        files: \.crst$
        pass_filenames: true
      
      - id: cargo-fmt
        name: Cargo Format Check
        entry: cargo fmt -- --check
        language: system
        files: \.rs$
        pass_filenames: false
      
      - id: cargo-clippy
        name: Cargo Clippy
        entry: cargo clippy --
        language: system
        files: \.rs$
        pass_filenames: false
        args: ["-D", "warnings"]

docs: correct for(;;) to clarify C-style for loops
  README.md
Due: none

docs: correct for(;;) to clarify C-style for loops
  .kiro/specs/crusty-compiler-phase1/SYNTAX_PHILOSOPHY.md
  .kiro/specs/crusty-compiler-phase1/design.md
  .kiro/specs/crusty-compiler-phase1/requirements.md
  README.md
Due: none

docs: add unsupported C features and syntax stability warnings
  README.md
Due: none

docs: add unsupported C features and syntax stability warnings
  .kiro/specs/crusty-compiler-phase1/SYNTAX_PHILOSOPHY.md
  README.md
Due: none

docs: correct semantic vs syntax distinction
  README.md
Due: none

docs: correct semantic vs syntax distinction
  .kiro/specs/crusty-compiler-phase1/SYNTAX_PHILOSOPHY.md
  .kiro/specs/crusty-compiler-phase1/design.md
  .kiro/specs/crusty-compiler-phase1/requirements.md
  README.md
Due: none

test(task-15.6): verify comprehensive #define macro tests
  .kiro/specs/crusty-compiler-phase1/tasks.md
Due: none

feat(requirements): add static keyword support for #use directives
  .kiro/specs/crusty-compiler-phase1/requirements.md
  README.md
  src/ast.rs
Due: cargo-fmt, cargo-clippy

feat(requirements): add static keyword support for #use directives
  README.md
  src/ast.rs
Due: cargo-fmt, cargo-clippy

feat(requirements): replace #use with #import and #export directives
  .kiro/specs/crusty-compiler-phase1/requirements.md
  README.md
  src/ast.rs
  src/codegen.rs
  src/semantic.rs
Due: cargo-fmt, cargo-clippy

feat(requirements): replace #use with #import and #export directives
  README.md
  docs/design/philosophy.md
  docs/syntax/README.md
  docs/syntax/modules.md
  src/ast.rs
  src/codegen.rs
  src/semantic.rs
Due: cargo-fmt, cargo-clippy

docs(review): comprehensive consistency review of all documentation
  .kiro/specs/crusty-compiler-phase1/CONSISTENCY_REVIEW.md
Due: none

docs(consistency): fix #use → #import/#export terminology across all docs
  .kiro/specs/crusty-compiler-phase1/SYNTAX_PHILOSOPHY.md
  .kiro/specs/crusty-compiler-phase1/design.md
  .kiro/specs/crusty-compiler-phase1/tasks.md
  docs/task-2.6-summary.md
Due: none

docs(review): mark Priority 1 items as completed in consistency review
  .kiro/specs/crusty-compiler-phase1/CONSISTENCY_REVIEW.md
Due: none

docs: fix documentation inconsistencies and add comprehensive validation
  .kiro/specs/crusty-compiler-phase1/CONSISTENCY_REVIEW.md
  .kiro/specs/crusty-compiler-phase1/REQUIREMENT_VALIDATION.md
  .kiro/specs/crusty-compiler-phase1/SYNTAX_PHILOSOPHY.md
  .kiro/specs/crusty-compiler-phase1/requirements.md
  README.md
Due: none

docs: fix documentation inconsistencies and add comprehensive validation
  README.md
  docs/design/philosophy.md
Due: none

docs: remove unnecessary migration guide
  .kiro/specs/crusty-compiler-phase1/CONSISTENCY_REVIEW.md
Due: none

docs: add project status dashboard and complete priority 2 tasks
  .kiro/specs/crusty-compiler-phase1/CONSISTENCY_REVIEW.md
  .kiro/specs/crusty-compiler-phase1/PROJECT_STATUS.md
Due: none

docs(architecture): add error handling architecture documentation
  docs/architecture/README.md
  docs/architecture/error-handling.md
Due: none

docs: add comprehensive error handling architecture documentation
  .kiro/specs/crusty-compiler-phase1/ERROR_HANDLING.md
  .kiro/specs/crusty-compiler-phase1/tasks.md
Due: none

docs: mark error handling documentation task as complete
  .kiro/specs/crusty-compiler-phase1/CONSISTENCY_REVIEW.md
Due: none

docs: add comprehensive error message catalog
  .kiro/specs/crusty-compiler-phase1/CONSISTENCY_REVIEW.md
  .kiro/specs/crusty-compiler-phase1/ERROR_CATALOG.md
Due: none

docs: split README into focused documentation files
  QUICK_START.md
  README.md
  SYNTAX_REFERENCE.md
Due: none

docs: split README into focused documentation files
  .kiro/specs/crusty-compiler-phase1/CONSISTENCY_REVIEW.md
  QUICK_START.md
  README.md
  SYNTAX_REFERENCE.md
Due: none

docs: create comprehensive property-based test catalog
  .kiro/specs/crusty-compiler-phase1/CONSISTENCY_REVIEW.md
  .kiro/specs/crusty-compiler-phase1/PROPERTY_TEST_CATALOG.md
Due: none

feat(task-17): implement parser lookahead and nested function support
  .kiro/specs/crusty-compiler-phase1/tasks.md
  src/ast.rs
  src/codegen.rs
  src/parser.rs
  src/semantic.rs
Due: cargo-fmt, cargo-clippy

feat(#226): implement parser lookahead and nested function support
  src/ast.rs
  src/codegen.rs
  src/parser.rs
  src/semantic.rs
Due: cargo-fmt, cargo-clippy

feat(task-17.7): implement comprehensive nested function tests
  .kiro/specs/crusty-compiler-phase1/TEST_COVERAGE_ANALYSIS.md
  src/lib.rs
  src/nested_function_tests.rs
  src/parser.rs
Due: cargo-fmt, cargo-clippy

feat(#227): implement comprehensive nested function tests
  src/lib.rs
  src/nested_function_tests.rs
  src/parser.rs
Due: cargo-fmt, cargo-clippy

chore(task-17.7): mark task as complete
  .kiro/specs/crusty-compiler-phase1/tasks.md
Due: none

feat(semantic): implement return type checking
  src/nested_function_tests.rs
  src/semantic.rs
Due: cargo-fmt, cargo-clippy

docs: add comprehensive test coverage report
  TEST_COVERAGE_REPORT.md
Due: none

docs: update test coverage report with root cause analysis
  TEST_COVERAGE_REPORT.md
Due: none

docs: add comprehensive coverage review summary
  COVERAGE_REVIEW_SUMMARY.md
Due: none

docs: add typedef type alias support specification
  .kiro/specs/typedef-type-alias-support/design.md
  .kiro/specs/typedef-type-alias-support/requirements.md
  .kiro/specs/typedef-type-alias-support/tasks.md
Due: none

feat: implement typedef type alias resolution
  src/semantic.rs
Due: cargo-fmt, cargo-clippy

docs: add comprehensive typedef demonstration example
  example/src/typedef_demo.crst
Due: crustyc-syntax

docs: complete systematic review and address gaps
  .kiro/specs/typedef-type-alias-support/REVIEW.md
  SYNTAX_REFERENCE.md
  src/semantic.rs
Due: cargo-fmt, cargo-clippy

docs(typedef-spec): mark completed tasks 1.1-1.3 and 2.1-2.3 as done
  .kiro/specs/typedef-type-alias-support/tasks.md
Due: none
